@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';





/* .light-theme{

  --color-primary:rgb(84, 11, 242);
  --color-primary-dull:#1F58D8;
  --color-light:#F1F5F9;
  --color-border-color:#c4c7d2;
 
} */





